# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Mercado Pago (Checkout Transparente)
NEXT_PUBLIC_MP_PUBLIC_KEY=YOUR_MP_PUBLIC_KEY
MP_ACCESS_TOKEN=YOUR_MP_ACCESS_TOKEN
